{% extends 'base.html.twig' %}

{% block title %}Hello CAccueilController!{% endblock %}

{% block body %}
     
    <h1>{{ app.session.get('nom') }} {{app.session.get('prenom')}}</h1>
    
    
     <div class="form-group">
    {{ form(form1) }}
    </div>
    <center> 
            
                      <form width=90%>
                          <fieldset>
                              <legend>Validation de Fiche de Frais:</legend>
                              <table>
                                  <tr>
                                      <td width="16%">Id</td>
                                      <td width="16%">Mois</td>
                                      <td width="16%">Nombre de Justificatifs</td>
                                      <td width="16%">Montant Valide</td>
                                      <td width="16%">dateModif</td>
                                      <td width="16%">Etat</td>



                                      
                                  </tr>
                             
                              
   {% for uneFiche in mesFiches %}
   
       <td>{{ uneFiche.id }}</td>
       <td>{{ uneFiche.mois }}</td>
       <td>{{ uneFiche.nbJustificatifs }}</td>
       <td>{{ uneFiche.montantValide }}</td>
       
      
      
    
    {% endfor %}
    </table>
                 
                          </fieldset>
                      </form>
        </div></center>
 
       
        
   

{% endblock %}
